*{
  margin: 0;
  font: 12px Verdana, Arial, Helvetica, sans-serif;
}

  body {
  background-color: #fff5e8;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.table_parent {
  margin: 20px 40px;
  border: 2px solid #000000;
}
.table_header h2 {
  color: white;

  font-size: 20px;
}
.table_header {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  align-items: center;
  padding: 10px;
  background: #002f35;
}
.search_header {
  display: flex;
  gap: 10px;
}
.search_header button {
  background: #377937;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}
.right_headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.refresh img {
  width: 20px;
  cursor: pointer;
}
.table_dataSection {
  max-width: 1024px;
  display: grid;
  gap: 10px;
  border-bottom: 2px solid #c2c1c1;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 20px;
}

.flex_table {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
.completeData {
  max-width: 350px;
  display: flex;
  justify-content: space-between;
}
.completeData-select {
  display: flex;justify-content: space-between;
  width: 350px;
}
.completeData input {
  width: 136px;
}

.width-100 {
  width: 100px;
}
.width-200 {
  width: 200px;
}
.width-250 {
  width: 250px;
}
.width-300 {
  width: 300px;
}
.width-400 {
  width: 400px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.record_found {
  color: #008900;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.below {
  display: flex;
  gap: 40px;
}
table {
  background-color: #fff;
  border: 1px solid #000;
}
table th, table td{
    padding: 5px;
    text-align: left;
}

/* footer css start */

footer.footer {
  background: #0f413b;
  padding-top: 20px ;
}

footer.footer .button_parent {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.success {
  background-color: rgb(5, 171, 5);
  color: white;
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
}
.copyright {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  max-width: 1250px;
  margin: auto;
}
/* footer css end */


@media only screen and (max-width: 768px) {

.table_header {
    display: flex !important;
    gap: 15px;
    justify-content: space-between;
}

.flex_table {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
}

.below {
    flex-direction: column;
    gap: 20px;
}

.below img {
    width: 100% !important;
}

.completeData {
    width: 100%;
}

.completeData-select {
    width: auto;
}

.table_parent {
    margin: 10px;
}

.table_records.newtablezebra table {
    width: 100%;
}

.button_parent {
    margin-bottom: 15px;
}
	}